
$colors: (
    // HTML
    bg: #000,

    // // HOME COLORS
    // home-bg: #5C5C5C,
    // home-bg-mobile: #6c6c6c,
    // home-border: #444444,
    // home-text: #141414,
    // home-ui: #000,
    // home-accent: #00bfff,
    // home-hover: #fff,

    // HOME COLORS
    home-menu: #070707,
    home-bg: #141414,
    home-bg-mobile: #141414,
    home-border: #444444,
    home-text: #fff,
    home-ui: #000,
    home-accent: #ff0000,
    home-hover: #555,
    //
    // // ABOUT COLORS
    // about-bg: #ECEBE9,
    // about-text: #6D9F6C,
    // about-link: #141414,
    // about-hover: #ddd,
    //
    // // 404 COLORS
    // fourohfour-bg: #7825FB,
    // fourohfour-text: #00bfff,
    // fourohfour-link: #fff,
    // fourohfour-hover: #ddd,
    //
    // // // EARTHVR COLORS
    // // evr-bg: #030303,
    // // evr-text: #fff,
    // // evr-link: #004cff,
    // // evr-hover: #111111,
    //
    // // EARTHVR COLORS
    // earth-bg: #E0E0E0,
    // earth-text: #101619,
    // // earth-bg: #E0E0E0,
    // // earth-text: #253238,
    // // earth-bg: #f5f5f5,
    // // earth-text: #255FDB,
    // earth-link: #255FDB,
    // earth-hover: #28407A,
    //
    // // SIDEWALK LABS COLORS
    // // swl-bg: #FFD000,
    // // swl-text: #262626,
    // // swl-bg: #F34845,
    // // swl-text: #FFF8DD,
    // swl-bg: #FDF5D1,
    // swl-text: #505050,
    // swl-link: #F34845,
    // swl-hover: fade-out(#FFD000,0.8),
    //
    // // EARTHVR COLORS
    // evr-bg: #3356AA,
    // evr-text: #fff,
    // evr-link: #6DA443,
    // evr-hover: #28407A,
    //
    // // TOONAMI COLORS
    // toonami-bg: #06191F,
    // toonami-text: #45A2C1,
    // toonami-link: #fff,
    // toonami-hover: #111111,
    //
    // // ANDROID WEAR COLORS
    // androidwear-bg: #A5E8D3,
    // androidwear-text: #121212,
    // androidwear-link: #6A64D0,
    // androidwear-hover: #111111,
    //
    //
    // // ANDROID WEAR COLORS
    // projectfi-bg: #087D50,
    // projectfi-text: #C0EFF7,
    // projectfi-link: #FFEAA1,
    // projectfi-hover: #111111
);
