
// Stylesheet for the Home Page

body {
    background: color(bg);
}

p, a {
    color: color(home-link);
    font-size: 18px;
    padding: 10px;
    display: block;

    &::selection {
      color: black;
      background: red;
    }

    @include respond-to (md){
      font-size: 15px;
      padding: 7px;
    }
    @include respond-to (lg){
      font-size: 16px;
      padding: 8px;
    }
}


p {
  font-family: 'Lexend Zetta', Helvetica, Arial;
  margin-left: -1px;
}

a {
  font-family: 'Lexend Deca', Helvetica, Arial;
  &:hover {
    @include anyEaseIn($easeTiming: 100ms);
    color: color(home-hover);
    // background: #1B1C1F;
  }
}


#personal-data>p {
  font-family: 'Lexend Deca', Helvetica, Arial;
  font-size: 14px;
  line-height: 26px;
  padding: 0px;
  display: block;
  @include respond-to(md) {
      font-size: 15px;
      line-height: 26px;
  }
  @include respond-to(lg) {
      font-size: 16px;
      line-height: 28px;
  }
}
