

.project-container {
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;

    pointer-events:none;

    margin-top: 20vh;

    @extend .animate;
    @include globalFadeIn($fadeInDelay: 1000ms, $fadeTiming: 300ms);

    @include respond-to(md) {

      margin-top: 0;
      height: 100vh;

      //Scroll images over top work?
      position: fixed;
      top: 0;
      left: 0;

      flex-direction: row;
      // justify centers horizontally
      justify-content: center;
      // align centers vertically... but only to the height of the divs
      // requires project-column divs to all be same height
      align-items: center;
    }

    .project-column {
      width: 260px;
      margin: 15px calc(30px + 6vw);
      // border: 3px solid red;

      @include respond-to(md) {
        width: auto;
        margin: 0 5px;
        height: 270px;
      }

      @include respond-to(lg) {
        margin: 0 30px;
      }
    }

}


ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    pointer-events: all;
}



#personal-data, #links {
    position: relative;
    display: block;
    margin: 45px 0 0px calc(40px + 6vw);
    z-index: 9999;

    @include respond-to(md) {
      margin: 0;
      position: fixed;
      bottom: 30px;
      left: 50px;
    }

    img {
      width: 214px;
      margin-bottom: 10px;
      margin-left: 1px;
      @include respond-to(md) {
          margin-left: 2px;
      }
    }
}

#links {

  pointer-events: all;

  margin: 15px 0 45px calc(30px + 6vw);

  @include respond-to(md) {
    left: auto;
    right: 50px;
    margin-bottom: -10px;
    margin-right: -10px;
  }
  a {
    padding: 10px;
    float: left;
    @include respond-to(md) {
      float: right;
    }
  }
}


.campaign {
  margin: 0;
  padding: 0;
   p {
     color: #888;
   }
   a, p {
     display: inline-block;
     padding: 8px;
   }
   a {
      margin-left: -12px;
   }
}