a {
	text-decoration: none;
}


body {
	// cursor: url(../assets/cursorv7.svg), text;
	overflow-x: hidden;
}

a, #footer li {
	// cursor: url(../assets/hoverv7.svg), text;
}

li {
	list-style: none;
}
